<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 설정파일 -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.javalec.dto.BoardDto" alias="boardDto" />
  </typeAliases>
</configuration>
